@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #000300;
}

/* @keyframes left-to-right {
   from {
     transform: translate(-100%);
   }
   to {
     transform: translate(0%);
   }
} */

